*
{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

.main
{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: auto;
}











/*heading*/
.heading                                     
{
    font-size: 30px;
}











/* top portion */
.top-portion::after /*--------------------------------------------------------------------------------------------------> IMPORTANT */
{   
    content: "";
    display: block;
    clear: both;
}

.top-portion .top-most
{
    float: left;
    width: 50%;
}

.top-portion .top-most .top                    
{
    margin-top: 25px;
    width: 100%;
}

.table-1 table                /* top portion ---------> table  */
{
    width: 100%;
    height: auto;
}

.table-1 table tr td /*--------------------------------------------------------------------------------------------------> IMPORTANT */
{
    background-color: rgb(212, 237, 237);
    border-width: 0.1px;
}

table,tr,th,td
{
    border: 1px solid rgb(212, 237, 237);
    border-collapse: collapse;
    border-width: 0.1px;
    text-align: left;
}

.table-1 td,th
{
    padding: 10px;
}

.address                   /* top portion ------------------------> address */
{
    margin-top: 35px;
}











/* middle portion-1 */
.middle-1                                  
{
    margin-top: 20px;
}

.middle-1 table
{
    width: 100%;
}

.middle-1 table th
{
    background-color: rgb(212, 237, 237);
    border: 1px solid rgb(95, 214, 214);
    border-width: 0.1px;
}

.middle-1 table,tr,th,td
{
    
    /* border: 1px solid rgb(212, 237, 237); */
    border-collapse: collapse;
    border-width: 0.1px;
    text-align: left;
}

.middle-1 td
{
    padding: 10px;
}



/* middle portion-2 */
.middle-2                                  
{
    margin-top: 20px;
}

.middle-2 .child 
{
    float:left;
    width: 50%;
}

.middle-2 .child .child-content-1 ol
{
    margin-left: 25px;
}

.middle-2 .child .child-content-2 table
{
    width: 100%;
}

.middle-2 .child .child-content-2 table tr .a
{
    background-color: rgb(212, 237, 237);
    
}

.middle-2 .child .child-content-2 table tr,td
{
    border: 1px solid rgb(95, 214, 214);
    border-width: 0.1px;
}

.middle-2 .child .child-content-2 table,tr,th,td
{
    /* border: 1px solid rgb(212, 237, 237); */
    border-collapse: collapse;
    border-width: 0.1px;
    text-align: left;
}

.middle-2 .child .child-content-2 td
{
    padding: 10px;
}










/* bottom portion */
.middle-2:after 
{
    content: "";
    display: block;
    clear: both;
}

.bottom
{
    margin-top: 20px;
}

.bottom table
{
    width: 100%;
}

.bottom table tr td
{
    background-color: rgb(212, 237, 237);
    border: 1px solid rgb(95, 214, 214);
    border-width: 0.1px;
}

.bottom table,tr,th,td
{
    
    /* border: 1px solid rgb(212, 237, 237); */
    border-collapse: collapse;
    border-width: 0.1px;
    text-align: left;
}

.bottom td
{
    padding: 10px;
}




